@charset "UTF-8";
.top {
  width: 100%;
  height: 30px;
  background-color: #F3F5F7;
  font-size: 12px;
  line-height: 30px;
  color: black;
}
.top .top-left {
  float: left;
  width: 500px;
}
.top .top-left a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}
.top .top-left a:nth-of-type(1) {
  display: inline;
}
.top .top-left a img {
  position: absolute;
  width: 100px;
  top: 30px;
  left: 0px;
  display: none;
}
.top .top-left a:hover {
  background-color: white;
}
.top .top-left a:hover img {
  display: block;
}
.top .top-right {
  float: right;
  width: 650px;
}
.top a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.top a:hover {
  color: orange;
}
.top span {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.top span ul {
  color: black;
  position: absolute;
  width: 80px;
  padding: 5px;
  background-color: white;
  z-index: 9;
  top: 30px;
  left: 0px;
  display: none;
}
.top span ul li {
  text-align: center;
}
.top span:hover ul {
  display: block;
}

.logo {
  height: 85px;
  padding-top: 15px;
  background-color: #F7F9FA;
}
.logo img {
  float: left;
  width: 250px;
  margin-right: 100px;
}
.logo .search {
  width: 450px;
  float: left;
  position: relative;
}
.logo .search input {
  height: 55px;
  width: 450px;
  border: 1px solid orange;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 105px;
  box-sizing: border-box;
}
.logo .search button {
  width: 100px;
  height: 55px;
  border-radius: 30px;
  position: absolute;
  right: 0px;
  top: 0;
  background-color: orangered;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.logo .search ul.active {
  display: block;
}
.logo .search p {
  width: 450px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 50px;
}
.logo .search p a {
  height: 20px;
  margin-right: 30px;
  color: #BAD1EB;
  text-decoration: none;
}
.logo .search p a:hover {
  color: orange;
}
.logo span {
  text-decoration: none;
  height: 55px;
  width: 120px;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 55px;
}
.logo a:hover {
  color: orange;
}

.mid {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-image: url(../img/login/bg.jpg);
  background-size: 100% 500px;
}
.mid .login-box {
  float: right;
  margin-top: 50px;
  margin-right: 150px;
  width: 300px;
  height: 400px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.mid .login-box .login-type {
  height: 10%;
  border-bottom: 2px solid #CCC;
}
.mid .login-box .login-type h2 {
  float: left;
  width: 40%;
  height: 38px;
  font-size: 16px;
  margin-left: 15px;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
}
.mid .login-box .login-type h2:hover {
  border-bottom: 2px solid orangered;
}
.mid .login-box p {
  height: 20px;
  margin-top: 20px;
}
.mid .login-box p a {
  float: right;
  margin-right: 30px;
  font-size: 12px;
  color: #948d8d;
  text-decoration: none;
}
.mid .login-box form {
  width: 80%;
  height: 270px;
  margin: 0 auto;
  overflow: hidden;
}
.mid .login-box form #username, .mid .login-box form #password {
  border: 1px solid #ccc;
  height: 30px;
  margin-bottom: 15px;
  width: 120%;
  border-radius: 3px;
  text-indent: 1em;
}
.mid .login-box form input::-webkit-input-placeholder {
  /* 修改字体颜色 */
  color: #ccc;
  /* 修改字号，默认继承input */
  font-size: 10px;
  font-weight: 400;
  /* 设置背景色 */
}
.mid .login-box form button {
  background-color: orangered;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin-top: 10px;
  color: white;
}
.mid .login-box form a {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
}
.mid .login-box .go {
  height: 50px;
  background-color: #F7F9FA;
  border-radius: 0 0 20px 20px;
}
.mid .login-box .go span {
  display: block;
  float: left;
  margin-top: 20px;
  margin-left: 30px;
}
.mid .login-box .go a {
  display: block;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  color: orangered;
}

.mid .login-box .go-form {
  height: 310px;
  padding-top: 30px;
}
.mid .login-box .go-form #checknumber {
  width: 120%;
  border: 1px solid #ccc;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 3px 0 0 3px;
  text-indent: 1em;
}
.mid .login-box .go-form #check {
  height: 30px;
  width: 83px;
  margin-left: -5px;
  font-size: 12px;
  font-weight: 500;
}

.logo .search .search-result {
  width: 350px;
  height: 200px;
  position: absolute;
  z-index: 9;
  background-color: white;
  left: 20px;
  display: none;
}
.logo .search .search-result li {
  list-style: none;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  text-indent: 1em;
}
.logo .search .search-result li:hover {
  background-color: #ccc;
}

/*# sourceMappingURL=login.css.map */
